*{
    box-sizing: border-box;
}

.navbar-container {
    height: 8vh;
}

.navbar-container a:first-child {
    height: 100%;
}

.navbar-container a:first-child img:first-child{
    height: 100%;
}

.navbar-container a:first-child img:last-child{
    height: 80%;
}

.navbar-container a:first-child img:nth-of-type(2){
    height: 40%;
    padding-right: 16px;
}

.inputSearch{
    margin-right: 10px;
}

.card-container {
    box-sizing: border-box;
    box-shadow: 0 0 10px rgb(110, 110, 110);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.card-container .card-img-top {
    aspect-ratio: 1 / 1;
    margin-bottom: 8px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 8px rgb(110, 110, 110);
    object-fit: cover;
}

.card-container h3 {
    text-align: center;
    font-size: 1.2rem;
}